 <table id="t01">
  <tr>
  
    <th></th>
    <th>nombre</th>
	<th>apellido</th>
    <th>cedula</th>
  </tr>
  <tr onclick="location.href='tupagina.html'" /> 
  <tr>
    
    <td><input type="checkbox" name="option" value="Milk"> </td>
    <td>Jorge </td>
    <td>Perez</td>

    <td>31231434323</td>
	
  </tr>
  <td><input type="checkbox" name="option" value="Milk"> </td>
    <td>Juan </td>
    <td>Sandoval</td>
    <td>3657123123</td>
  </tr>
  <td><input type="checkbox" name="option" value="Milk"> </td>
    <td>Roberto </td>
    <td>Martinez</td>

    <td>3123123323</td>
  </tr>
  <td><input type="checkbox" name="option" value="Milk"> </td>
    <td>Carlos </td>
    <td>Zuluaga</td>
    <td>3123123123</td>
  </tr>
  <td><input type="checkbox" name="option" value="Milk"> </td>
    <td>Mario </td>
    <td>Luna</td>
    <td>4312312433</td>
  </tr>
  
</table>

            <input class="btn btn-primary" type="submit" value="Eliminar Empleado" />
			<input class="btn btn-primary" type="button" value="Regresar" />	
