 <table id="t01">
  <tr>
  
    <th>nombre</th>
	<th>apellido</th>
    <th>cedula</th>
  </tr>
  <tr onclick="location.href='tupagina.html'" /> 
  <tr>
    
    <td><a href="newIP.php"> Jorge </td></a>
    <td><a href="newIP.php"> Perez </td></a></td>
    <td><a href="newIP.php"> 12143425365 </td></a></td>	
  </tr>
  <tr>  
      <td><a href="newIP.php"> Juan </td></a>
    <td><a href="newIP.php"> Sandoval </td></a></td>
    <td><a href="newIP.php"> 3657123123 </td></a></td>
  </tr>
  
  <tr>  
      <td><a href="newIP.php"> Roberto </td></a>
    <td><a href="newIP.php"> Martinez </td></a></td>
    <td><a href="newIP.php"> 3123123323 </td></a></td>
  </tr>
  

   <tr>  
      <td><a href="newIP.php"> Carlos </td></a>
    <td><a href="newIP.php"> Zuluaga </td></a></td>
    <td><a href="newIP.php"> 3123123123 </td></a></td>
  </tr>
  

  
      <td><a href="newIP.php"> Mario </td></a>
    <td><a href="newIP.php"> Luna </td></a></td>
    <td><a href="newIP.php"> 4312312433 </td></a></td>
  </tr>
  
  
</table>

            <input class="btn btn-primary" type="submit" value="Eliminar Empleado" />
			<input class="btn btn-primary" type="button" value="Regresar" />	
